* {
  margin: 0;
  padding: 0;
  font-weight: 100; }

*, *::before, *::after {
  -webkit-box-sizing: border-box; }

a {
  text-decoration: none;
  -webkit-tap-highlight-color: transparent; }

li {
  list-style: none; }

html, body {
  width: 100%;
  height: 100%;
  background: #F8F8F8; }

.container {
  width: 100%;
  height: 100%;
  display: -webkit-flex;
  -webkit-flex-direction: column; }

.search {
  width: 100%;
  height: 46px;
  position: relative;
  background: white;
  border-bottom: 1px solid #d2d2d0;
  display: -webkit-flex; }
  .search .search-left {
    width: 80%;
    padding: 5px 0 5px 15px;
    position: relative; }
    .search .search-left label {
      position: absolute;
      left: 30px;
      top: 12px;
      width: 21px;
      height: 21px;
      background: url(../images/icon_search.png) no-repeat;
      background-size: 21px; }
    .search .search-left input {
      width: 100%;
      height: 35px;
      border: none;
      background: #f8f8f8;
      border-radius: 20px;
      font-size: 14px;
      padding: 0 20px 0 50px; }
  .search .search-right {
    width: 20%;
    position: relative; }
    .search .search-right a {
      position: absolute;
      right: 0;
      top: 0;
      height: 44px;
      font-size: 14px;
      padding-right: 15px;
      line-height: 46px;
      color: #008842;
      text-align: center; }

.footer {
  width: 100%;
  height: 50px;
  padding-top: 3px;
  border-top: 1px solid #d2d2d0; }
  .footer ul {
    display: -webkit-flex;
    width: 100%;
    height: 100%; }
    .footer ul li {
      -webkit-flex: 1; }
      .footer ul li a {
        display: block;
        width: 100%;
        height: 100%;
        text-align: center;
        font-size: 14px;
        color: #8D8A8A; }
      .footer ul li .shouye span {
        background: url(../images/btn-tabs.png) no-repeat 0 0;
        background-size: 100px auto;
        display: block;
        width: 25px;
        height: 22px;
        margin: 3px auto; }
      .footer ul li .fenlei {
        color: #008842; }
        .footer ul li .fenlei span {
          background: url(../images/btn-tabs.png) no-repeat -25px -22px;
          background-size: 100px auto;
          display: block;
          width: 25px;
          height: 22px;
          margin: 3px auto; }
      .footer ul li .gouwuche span {
        background: url(../images/btn-tabs.png) no-repeat -50px 0;
        background-size: 100px auto;
        display: block;
        width: 25px;
        height: 22px;
        margin: 3px auto; }
      .footer ul li .wode span {
        background: url(../images/btn-tabs.png) no-repeat -75px 0;
        background-size: 100px auto;
        display: block;
        width: 25px;
        height: 22px;
        margin: 3px auto; }

.wrap {
  -webkit-flex: 1;
  width: 100%;
  overflow: hidden; }

.page2-list {
  width: 100%;
  background: white; }
  .page2-list .list-top {
    width: 100%;
    padding: 15px;
    border-bottom: 1px solid #e1e5e5;
    display: -webkit-flex;
    position: relative; }
    .page2-list .list-top .img {
      width: 48px;
      height: 48px;
      margin-right: 10px; }
    .page2-list .list-top .tit {
      padding-top: 8px; }
      .page2-list .list-top .tit h1 {
        font-size: 14px;
        line-height: 18px; }
      .page2-list .list-top .tit h2 {
        font-size: 12px;
        color: #8d8a8a;
        line-height: 18px; }
    .page2-list .list-top .zhixiang {
      position: absolute;
      right: 15px;
      top: 50%;
      width: 11px;
      height: 18px;
      margin-top: -9px;
      background: url(../images/sprites.png) no-repeat -47px 0;
      background-size: 222px; }
  .page2-list .list-bottom {
    width: 100%;
    display: none; }
    .page2-list .list-bottom ul li {
      width: 100%;
      font-size: 14px;
      display: -webkit-flex;
      border-bottom: 1px solid #e1e5e5; }
      .page2-list .list-bottom ul li a {
        display: block;
        color: black;
        padding: 7px 15px;
        line-height: 26px;
        text-align: center;
        width: 33.3%; }

.list1 .img {
  background: url(../images/icon-catalog.png) no-repeat -192px 0;
  background-size: 288px 96px; }

.list2 .img {
  background: url(../images/icon-catalog.png) no-repeat 0px 0;
  background-size: 288px 96px; }

.list3 .img {
  background: url(../images/icon-catalog.png) no-repeat -144px 0;
  background-size: 288px 96px; }

.list4 .img {
  background: url(../images/icon-catalog.png) no-repeat 0px -48px;
  background-size: 288px 96px; }

.list5 .img {
  background: url(../images/icon-catalog.png) no-repeat -96px 0;
  background-size: 288px 96px; }

.list6 .img {
  background: url(../images/icon-catalog.png) no-repeat -96px -48px;
  background-size: 288px 96px; }

.list7 .img {
  background: url(../images/icon-catalog.png) no-repeat -48px 0;
  background-size: 288px 96px; }

.list8 .img {
  background: url(../images/icon-catalog.png) no-repeat -240px 0;
  background-size: 288px 96px; }

.list9 .img {
  background: url(../images/icon-catalog.png) no-repeat -192px -48px;
  background-size: 288px 96px; }

.list10 .img {
  background: url(../images/icon-catalog.png) no-repeat -48px -48px;
  background-size: 288px 96px; }

.list11 .img {
  background: url(../images/icon-catalog.png) no-repeat -144px -48px;
  background-size: 288px 96px; }

/*# sourceMappingURL=style2.css.map */
